*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: black;
}
ul,ol,li{
	list-style: none;
}
.tou{
	width: 100%;
	height: 45px;
	background-color: #333333;
}
.tou .tou15{
	width: 180px;
	height: 45px;
	float: right;
}
.tou .tou11 p{
	font-size: 20px;
	color: #fff;
	line-height: 45px;
}
.tou13{
	float: right;
	padding-top:8px;
}
.tou11{
	float: right;
	margin-left:5px;
	height: 45px;
}
.tou .tou12{
	width: 140px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	color: #ebebeb;
	float: right;
	font-size: 14px;
}
.tou1{
	width: 100%;
	height: 86px;
}
.tou1 img{
	margin-left: 40px;
	margin-top: 14px;
}
.tou1 .nav1{
	float: right;
	margin-right: 50px;
	height: 60px;
	font-size:20px;
}
.nav1 a:hover{
	color: #f3aa9d;
}
.nav1 li:hover .hide{
    display:block;
    position: relative;
}
.tou1 .nav1>li{
	width: 110px;
	line-height: 80px;
	text-align:center;
	float: left;
}
.nav1 .hide{
	display: none;
	position: absolute;
	top:7px;
}
.nav1 .gu{
	border-bottom:4px solid #e8420a;
}
.hide a:hover{
	color: #f3aa9d;
}
.nav1 .hide li{
	background-color: #f5f6f5;
}

.all{
	height: 3200px;
	width:100%;
	text-align: center;
	
}
.d{
	height: 106px;
	width: 1200px;
	text-align: center;
	margin:0 auto;
	margin-bottom: 50px;
}
.left{
	height: 568px;
	width:1200px;
	text-align: center;
	margin:0 auto;
	margin-bottom: 15px;
}
.pic1{
	height: 568px;
	width: 231px;
	text-align: center;
	float: left;
	font-size:22px;
}
.pic{
	height: 568px;
	width:969px;
	float: left;
}
.pict{
	height: 54px;
	width:230px;
	text-align: center;
	border:1px solid #b5b5b5;
	padding-top:25px;
}
.pict1{
	height: 54px;
	width:185px;
	padding-left: 45px;
	border: 1px solid #b5b5b5;
	padding-top:25px;
	text-align: left;

}
.pict ul li{
	color: #1c5080;
	width:230px;
	border-left:2px solid #1c5080;
}
.c{
	width:100%;
	height: 397px;
	text-align: center;
	margin-bottom: 35px;
	background: url(../images/59.png) no-repeat center;
}
.ghj{
	width: 1200px;
	height: 397px;
	margin:0 auto;
}
.ryu{
	margin-left:252px;
}
.a{
	height: 150px;
	width: 1200px;
	text-align: center;
	margin:0 auto;
}
.b{
	height: 25px;
	width:1200px;
	text-align: center;
	margin:0 auto;
	margin-bottom: 25px;
}
.nav{
	height: 30px;
	width: 1200px;
	margin:0 auto;
}
.nav >li{ 
    display:inline-block;
    width:110px;
    height:50px;
	text-align:center;
	line-height:30px;
}
.b .nav span{
	color: red;
}
.e{
	width:1200px;
	height: 676px;
	text-align: center;
	margin:0 auto;
}
.f{
	float: left;
	margin-right: 2px;
}
.g{
	height: 156px;
	width:1200px;
}
.q{
	height: 678px;
	width: 1200px;
	float: left;
}
.j{
	height: 150px;
	width:1200px;
	margin:0 auto;
	text-align: center;
	margin-top:30px;
}
.k{
	height: 1025px;
	width:1200px;
	margin:0 auto;
	text-align: center;
}
.l{
	height: 1020px;
	width: 590px;
	float: left;
}
.m{
	height: 1020px;
	width: 580px;
	float: left;
}
.s{
	height: 1020px;
	width: 1200px;
	float: left;
}
.end{
	background-color: #000000;
	width: 100%;
	height: 300px;
	margin-top: 125px;
	border-bottom: 1px solid #404040;
}
.end li{
	color: #d1d1d1;
}
.end .endda{
	width: 1200px;
	margin:0 auto;
	color: #fff;
}
.endda .z7{
	width:150px;
	height: 200px;
	text-align: left;
	float: left;
	margin-top: 73px;
}
.endda .z1{
	width: 120px;
	height: 200px;
	text-align: left;
	float: left;
	margin-top: 73px;
}
.endda .z1 .z11{
	font-size: 18px;
	margin-bottom:20px;
}
.endda .z7 .z11{
	font-size: 18px;
	margin-bottom:20px;
	margin-left: 20px;
}
.endda .z1 .z12{
	font-size: 14px;
	margin-bottom:15px;
}
.z13{
	text-align: center;
	width: 114px;
}
.endda .z13 img{
	padding-left: 30px;
}
.endda .z13 p{
	font-size: 14px;
	padding-left: 20px;
}
.endda .z2{
	width: 70px;
	float: left;
}
.endda .z2 img{
	margin-top: 124px;
	margin-left:7px;
}
.endda .z2 p{
	font-size: 14px;
}
.endda .z3{
	margin-top: 128px;
	float: left;
}
.endda .z4{
	width: 390px;
	height: 300px;
	float: right;
}
.endda .z4 .z41{
	width: 74px;
	margin-top: 70px;
	float: left;
	
}
.endda .z4 .z421{
	width: 110px;
	height: 100px;
	margin-top: 65px;
	margin-bottom:25px;
	float: left;
}
.endda .z4 .z422{
	width: 180px;
	height: 80px;
	float: right;
	font-size: 26px;
	margin-top: 65px;
}
.endda .z4 .z423{
	width: 340px;
	height: 54px;
	clear: both;
	float: right;
	font-size: 16px;
}
.endda .z4 .z423 p{
	padding: 3px;
}
.footer2{
	width: 100%;
	height: 370px;
	background-color: #000000;
	text-align: center;
	border-bottom: 1px solid #404040;
	border-top:1px solid #404040;
}
.lala{
	width: 1200px;
	height: 360px;
	margin: 0 auto;
	background-color: #000000;
}
.xixi{
	height: 42px;
	width: 100%;
	background-color: #000000;
}
.collaboration{
	width: 1200px;
	height: 70px;
	margin-bottom: 35px;
}
.c1{
	color: #d1d1d1;
	height: 45px;
	font-size:18px; 
	margin-right:22px;
	float: left;
}
.c2{
	margin-right: 15px;
	float: left;
}
.c3{
	color: #d1d1d1;
	font-size: 14px;
	text-align:center;
	margin-top: 14px;
}
.position{
	height: 47px;
	width:1200px;
	text-align: center;
	margin-bottom: 30px;
}
.p1{
	height: 47px;
	margin:auto 0;

}
.p1 ul{
	display: block;
	height: 18px;
}
.p1 li{
	margin-right: 14px;
	float: left;
	font-size:14px;
	color: #d1d1d1;
}
.serve{
	height:20px;
	width:1200px;
	margin-bottom: 30px;
}
.p2 ul{
	display: block;
	height: 18px;
}
.p2 li{
	margin-right: 15px;
	float: left;
	font-size:14px;
}
.p2 ul li a{
	color: #d1d1d1;
}
.friendly{
	height:50px;
	width:1200px;
}
.p3 ul{
	display: block;
	height: 18px;
}
.p3 li{
	margin-right: 15px;
	float: left;
	font-size:14px;
}
.p3 ul li a{
	color: #d1d1d1;
}

.footer4{
	width: 100%;
	height: 140px;
	background-color: #000000;
	text-align: center;
	padding-top:40px;
}
.f4{
	height: 55px;
	width:540px;
	margin:0 auto;
	text-align: center;
}
.f4 p{
	font-size:16px;
	color: #d7d7d7;
}
.child1{
	position: fixed;
	height: 737px;
	width:48px;
	top:522px;
	right: 0px;
}
.child2{
	position: fixed;
	top:616px;
	right: 48px;
}
